# Ignore all files in the .angular/cache directory
.angular/cache/

# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# dotenv environment variable files
.env
.env.test

# Parcel cache directory
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* the Gatsby cache:
# public

# Vue CLI generated dist folder
/dist/

# Angular build folder
/dist
/tmp
/.angular/cache/

# Svelte build folder
/public/build/




