<app-navbar></app-navbar>
<body>

  <!-- about -->
  <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">{{"About-simple" | translate}} <strong class="owner">Rami</strong></h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>
            <strong class="owner">Rami</strong>
            {{"Rami-description.First-paragraph" | translate}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="about-image col-lg-3 col-md-6 col-sm-6 about-imgs-txt my-3">
          <img src="assets/images/g1.jpg" alt="news image" class=" img-fluid service-pic ">
        </div>
        <div class="about-image  col-lg-3 col-md-6 col-sm-6 about-imgs-txt my-3">
          <img src="assets/images/g2.jpg" alt="news image" class=" img-fluid service-pic ">
        </div>
        <div class="col-lg-6 about-two-grids">
          <div class="about-para-txt mb-lg-4 mb-3">
            <p>{{"Rami-description.Second-paragraph" | translate}}</p>
            <p class="mt-2">{{"Rami-description.Third-paragraph" | translate}}</p>
            <p class="mt-2">{{"Rami-description.Fourth-paragraph" | translate}}</p>
          </div>
          <img src="assets/images/pp1.png" alt="news image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->

<section class="employees-section">
  <div class="container">

      <div class="row mb-lg-5 mb-md-4 mb-sm-3 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Our Clients</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt labore </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/avatar.png" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Chérine Moussa</h4>
            <p>"This salon is truly one of the best I've visited. The staff is amazing, kind, and incredibly welcoming. I've never once regretted returning to this salon."</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/avatar2.png" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">M-3X Matrix</h4>
            <p>"Un salon foarte frumos,  cu un personal profesionist și foarte amabil. Servicii de calitate,  o experiență foarte plăcută,  totul la superlativ!"</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/c3.jpg" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Sophia Miller</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/c4.jpg" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Amelia Brown</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
  </div>
</section>


</body>
