<app-navbar></app-navbar>
<body>

  <!-- about -->
  <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">About Us</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt labore </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 about-imgs-txt my-3">
          <img src="assets/images/g1.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 about-imgs-txt my-3">
          <img src="assets/images/g2.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-6 about-two-grids">
          <div class="about-para-txt mb-lg-4 mb-3">
            <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
              ut labore et consectetur adipiscing sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum
              dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
            <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
              ut labore et consectetur adipiscing sed do eiusmod</p>
          </div>
          <img src="assets/images/pp1.png" alt="news image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->
  <!-- price -->
  <section class="price py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Price</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt labore </p>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
          <div class=" grided-bottom">
            <h4 class="mb-lg-4 mb-md-3 mb-3">Package 1</h4>
            <div class="wls-hours-list">
              <ul>
                <li class="d-flex">Hair Art
                  <span class="time ml-auto"> $30</span>
                </li>
                <li class="d-flex">Hair Spa
                  <span class="time ml-auto">$12</span>
                </li>
                <li class="d-flex">Hair Extensions
                  <span class="time ml-auto">$6</span>
                </li>
                <li class="d-flex">Hair cutting
                  <span class="time ml-auto">$22</span>
                </li>
                <li class="d-flex">Hairdresser
                  <span class="time ml-auto">$15</span>
                </li>
                <li class="d-flex">Hair Art
                  <span class="time ml-auto">$18</span>
                </li>
              </ul>
            </div>
            <div class="blog-buttn mt-md-4 mt-3">
              <a href="contact.html">Book Here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
          <div class=" grided-bottom">
            <h4 class="mb-lg-4 mb-md-3 mb-3">Package 2</h4>
            <div class="wls-hours-list">
              <ul>
                <li class="d-flex">Hair Art
                  <span class="time ml-auto"> $30</span>
                </li>
                <li class="d-flex">Hair Spa
                  <span class="time ml-auto">$12</span>
                </li>
                <li class="d-flex">Hair Extensions
                  <span class="time ml-auto">$6</span>
                </li>
                <li class="d-flex">Hair cutting
                  <span class="time ml-auto">$22</span>
                </li>
                <li class="d-flex">Hairdresser
                  <span class="time ml-auto">$15</span>
                </li>
                <li class="d-flex">Hair Art
                  <span class="time ml-auto">$18</span>
                </li>
              </ul>
            </div>
            <div class="blog-buttn mt-md-4 mt-3">
              <a href="contact.html">Book Here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
          <div class=" grided-bottom">
            <h4 class="mb-lg-4 mb-md-3 mb-3">Package 3</h4>
            <div class="wls-hours-list">
              <ul>
                <li class="d-flex">Hair Art
                  <span class="time ml-auto"> $30</span>
                </li>
                <li class="d-flex">Hair Spa
                  <span class="time ml-auto">$12</span>
                </li>
                <li class="d-flex">Hair Extensions
                  <span class="time ml-auto">$6</span>
                </li>
                <li class="d-flex">Hair cutting
                  <span class="time ml-auto">$22</span>
                </li>
                <li class="d-flex">Hairdresser
                  <span class="time ml-auto">$15</span>
                </li>
                <li class="d-flex">Hair Art
                  <span class="time ml-auto">$18</span>
                </li>
              </ul>
            </div>
            <div class="blog-buttn mt-md-4 mt-3">
              <a href="contact.html">Book Here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //price -->
  <!-- clients -->
  <section class="clients py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-3 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Our Clients</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt labore </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/c1.jpg" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Emma Miller</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/c2.jpg" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Olivia Smith</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/c3.jpg" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Sophia Miller</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 my-3 text-center about-tree-clients">
          <div class="text-layts-grids">
            <img src="assets/images/c4.jpg" alt="news image" class="img-fluid">
            <h4 class="mt-lg-4 mt-3 mb-2">Amelia Brown</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//clients -->

</body>
