<app-navbar></app-navbar>
  <!-- service -->
  <section class="service py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Our Services</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8 ">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod assets/assets/images incididunt labore </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 jst-img-grided">
          <div class="service-grid-tree mt-lg-5 mt-md-4 my-3">
            <h4>Hair Extensions</h4>
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">
              <div class="about-icon col-lg-3 col-md-3 col-sm-4 text-center">
                <span class="fa fa-magic mt-2" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum </p>
              </div>
            </div>
          </div>
          <div class=" service-grid-tree mt-lg-5 mt-md-4 my-3">
            <h4>Hair Colouring</h4>
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">
              <div class="about-icon col-lg-3 col-md-3 col-sm-4 text-center">
                <span class="fa fa-paint-brush mt-2" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum </p>
              </div>
            </div>
          </div>
          <div class=" service-grid-tree mt-lg-5 mt-md-4 my-3">

            <h4>Highlights</h4>
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">
              <div class="about-icon col-lg-3 col-md-3 col-sm-4 text-center">
                <span class="fa fa-tachometer mt-2" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum </p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 jst-img-grided">
          <img src="assets/images/s1.jpg" alt="news image" class="img-fluid">

        </div>
        <div class="col-lg-4 text-lg-right jst-img-grided">
          <div class=" service-grid-tree mt-lg-5 mt-md-4 my-3">
            <h4>Hair Colouring</h4>
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">

              <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum </p>
              </div>
              <div class="about-icon col-lg-3 col-md-3 col-sm-4 text-center">
                <span class="fa fa-paint-brush mt-2" aria-hidden="true"></span>
              </div>
            </div>
          </div>
          <div class=" service-grid-tree mt-lg-5 mt-md-4 my-3">

            <h4>Highlights</h4>
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">

              <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum </p>
              </div>
              <div class="about-icon col-lg-3 col-md-3 col-sm-4 text-center">
                <span class="fa fa-tachometer mt-2" aria-hidden="true"></span>
              </div>
            </div>
          </div>
          <div class="service-grid-tree mt-lg-5 mt-md-4 my-3">

            <h4>Hair Extensions</h4>
            <div class="row mt-lg-4 mt-md-4 mt-sm-3 mt-2">

              <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum </p>
              </div>
              <div class="about-icon col-lg-3 col-md-3 col-sm-4 text-center">
                <span class="fa fa-magic mt-2" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //service -->
    <!-- price -->
    <section class="price py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row mb-lg-5 mb-md-4 mb-sm-4 mb-3">
          <div class="title col-lg-4 col-md-4 text-center">
            <h3 class="clr">Price</h3>
          </div>
          <div class="line-grided-title col-lg-8 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit
              amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt labore </p>
          </div>
        </div>
        <div class="row">
  
          <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
            <div class=" grided-bottom">
              <h4 class="mb-lg-4 mb-md-3 mb-3">Package 1</h4>
              <div class="wls-hours-list">
                <ul>
                  <li class="d-flex">Hair Art
                    <span class="time ml-auto"> $30</span>
                  </li>
                  <li class="d-flex">Hair Spa
                    <span class="time ml-auto">$12</span>
                  </li>
                  <li class="d-flex">Hair Extensions
                    <span class="time ml-auto">$6</span>
                  </li>
                  <li class="d-flex">Hair cutting
                    <span class="time ml-auto">$22</span>
                  </li>
                  <li class="d-flex">Hairdresser
                    <span class="time ml-auto">$15</span>
                  </li>
                  <li class="d-flex">Hair Art
                    <span class="time ml-auto">$18</span>
                  </li>
                </ul>
              </div>
              <div class="blog-buttn mt-md-4 mt-3">
                <a href="contact.html">Book Here</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
            <div class=" grided-bottom">
              <h4 class="mb-lg-4 mb-md-3 mb-3">Package 2</h4>
              <div class="wls-hours-list">
                <ul>
                  <li class="d-flex">Hair Art
                    <span class="time ml-auto"> $30</span>
                  </li>
                  <li class="d-flex">Hair Spa
                    <span class="time ml-auto">$12</span>
                  </li>
                  <li class="d-flex">Hair Extensions
                    <span class="time ml-auto">$6</span>
                  </li>
                  <li class="d-flex">Hair cutting
                    <span class="time ml-auto">$22</span>
                  </li>
                  <li class="d-flex">Hairdresser
                    <span class="time ml-auto">$15</span>
                  </li>
                  <li class="d-flex">Hair Art
                    <span class="time ml-auto">$18</span>
                  </li>
                </ul>
              </div>
              <div class="blog-buttn mt-md-4 mt-3">
                <a href="contact.html">Book Here</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
            <div class=" grided-bottom">
              <h4 class="mb-lg-4 mb-md-3 mb-3">Package 3</h4>
              <div class="wls-hours-list">
                <ul>
                  <li class="d-flex">Hair Art
                    <span class="time ml-auto"> $30</span>
                  </li>
                  <li class="d-flex">Hair Spa
                    <span class="time ml-auto">$12</span>
                  </li>
                  <li class="d-flex">Hair Extensions
                    <span class="time ml-auto">$6</span>
                  </li>
                  <li class="d-flex">Hair cutting
                    <span class="time ml-auto">$22</span>
                  </li>
                  <li class="d-flex">Hairdresser
                    <span class="time ml-auto">$15</span>
                  </li>
                  <li class="d-flex">Hair Art
                    <span class="time ml-auto">$18</span>
                  </li>
                </ul>
              </div>
              <div class="blog-buttn mt-md-4 mt-3">
                <a href="contact.html">Book Here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //price -->
  <!-- special service -->
  <section class="spl-service py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-3 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Special Services</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod assets/assets/images incididunt labore </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 spl-layts-grid my-3">
          <img src="assets/images/ss4.jpg" alt="news image" class="img-fluid">
          <h4 class="mt-lg-4 mb-2 mt-3">How to Take Care for Hair in the Summer</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt labore Lorem ipsum dolor </p>
        </div>
        <div class="col-lg-4 spl-layts-grid my-3">
          <img src="assets/images/ss2.jpg" alt="news image" class="img-fluid">
          <h4 class="mt-lg-4 mb-2 mt-3">How To Get Beautiful Coloring Highlights </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt labore Lorem ipsum dolor </p>
        </div>
        <div class="col-lg-4 spl-layts-grid my-3">
          <img src="assets/images/ss3.jpg" alt="news image" class="img-fluid">
          <h4 class="mt-lg-4 mb-2 mt-3">The Modern Cropped Haircut for Girls</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt labore Lorem ipsum dolor </p>
        </div>
      </div>
    </div>
  </section>
  <!-- special service -->