@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700;800&display=swap');
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* This adds space between the cards */
    max-width: 1200px;
    margin: 50px;
    font-family: 'EB Garamond', serif;
    padding: 20px; /* This adds space inside the container */
}

.service {
    text-align: center;
    background-color: #f7f7f7;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow to the cards */
    transition: transform 0.3s ease-in-out; /* Optional: Adds a transition effect on hover */
     position: relative; /* Needed for absolute positioning of the gradient */
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row h2{
    font-family: 'EB Garamond', serif !important;
    font-size: 22px;
}

.service img {
    width: 100%;
    margin-bottom: 20px;
    transition: all .8s ease-in-out;
    height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover; /* Ensures the image covers the area, may crop */
}

.service:hover img{
    transform: scale(1.20) ;
    background: black;
    opacity: 0.6;
    overflow: hidden;
}
.service:hover{
    cursor: pointer;
    overflow:hidden;

}
.service img:hover{
    cursor: pointer;
}

.service h2 {
    margin: 0;
    padding: 10px 0;
}

button {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin: 20px auto; /* Centers the button */
    display: block; /* Ensures the button is block level for auto margins to work */
}

/* Add additional styles as needed */
