@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700;800&display=swap');
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 50px;
    font-family: 'EB Garamond', serif;
}

.service {
    text-align: center;
    background-color: #f7f7f7;
    overflow: hidden;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row h2{
    font-family: 'EB Garamond', serif !important;
    font-size: 22px;
}

.service img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    transition: all .8s ease-in-out;
}

.service:hover img{
    transform: scale(1.20) ;
    background: black;
    opacity: 0.6;
    overflow: hidden;
}
.service:hover{
    cursor: pointer;
    overflow:hidden;

}
.service img:hover{
    cursor: pointer;
}

.service h2 {
    margin: 0;
    padding: 10px 0;
}

button {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Add additional styles as needed */
