<ng-container *ngIf="isOpen">
<div class="modal-container">
    <div class="col-lg-4 col-md-4 text-center pricing-grid my-3">
        <div class=" grided-bottom">
            <h4 class="mb-lg-4 mb-md-3 mb-3">Package 1</h4>
            <div class="wls-hours-list">
                <ul>
                    <li class="d-flex">Hair Art
                        <span class="time ml-auto"> $30</span>
                    </li>
                    <li class="d-flex">Hair Spa
                        <span class="time ml-auto">$12</span>
                    </li>
                    <li class="d-flex">Hair Extensions
                        <span class="time ml-auto">$6</span>
                    </li>
                    <li class="d-flex">Hair cutting
                        <span class="time ml-auto">$22</span>
                    </li>
                    <li class="d-flex">Hairdresser
                        <span class="time ml-auto">$15</span>
                    </li>
                    <li class="d-flex">Hair Art
                        <span class="time ml-auto">$18</span>
                    </li>
                </ul>
            </div>
            <div class="buttons d-flex justify-content-between">
                <div class="blog-buttn mt-md-4 mt-3">
                    <a href="contact.html">Book Here</a>

                </div>
                <div class="modal-close-button mt-md-4 mt-3">
                    <span (click)="resetModal()">Close Modal</span>

                </div>
            </div>

        </div>
    </div>
</div>
</ng-container>