<app-navbar></app-navbar>
  <!--Gallery-->
  <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-3 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Portfolio</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt labore </p>
        </div>
      </div>
      <div class="row gallery-info no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid ">
          <div class="gallery-grids">
            <a href="#gal1">
              <img src="assets/images/g1.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid ">
          <div class="gallery-grids">
            <a href="#gal2">
              <img src="assets/images/g6.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid">
          <div class="gallery-grids">
            <a href="#gal3">
              <img src="assets/images/g3.jpg" alt="news image" class="img-fluid">
            </a>
          </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid">
          <div class="gallery-grids">
            <a href="#gal4">
              <img src="assets/images/g4.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid ">
          <div class="gallery-grids">
            <a href="#gal5">
              <img src="assets/images/g2.jpg" alt="news image" class="img-fluid">
            </a>
          </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid ">
          <div class="gallery-grids">
            <a href="#gal6">
              <img src="assets/images/g5.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid ">
          <div class="gallery-grids">
            <a href="#gal7">
              <img src="assets/images/g8.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 gallery-img-grid ">
          <div class="gallery-grids">
            <a href="#gal8">
              <img src="assets/images/g7.jpg" alt="news image" class="img-fluid">
            </a>
          </div>
        </div>
        <!-- popup-->
        <div id="gal1" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g1.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g6.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g3.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal4" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g4.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal5" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g2.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal6" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g5.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal7" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g8.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal8" class="popup-effect">
          <div class="popup">
            <img src="assets/images/g7.jpg" alt="Popup Image" class="img-fluid" />
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
      </div>
    </div>
  </section>
  <!--//Gallery-->