
  <app-navbar></app-navbar>
  <!--single page-->
  <section class="single page py-lg-4 py-md-3 py-sm-3 py-3" id="single-page">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row mb-lg-5 mb-md-4 mb-sm-3 mb-3">
        <div class="title col-lg-4 col-md-4 text-center">
          <h3 class="clr">Single Blog</h3>
        </div>
        <div class="line-grided-title col-lg-8 col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod assets/assets/images incididunt labore Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod assets/assets/images incididunt labore </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 color-img-three my-3">
          <img src="assets/images/s4.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-6 blog-left-sub my-3">
          <h4 class="pb-3">
            <a href="single.html">Awesome Hair Looks</a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum
            dolor sit amet Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna,
            euismod ut ornare non Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            nibh urna, euismod ut ornare non Lorem ipsum dolor sit amet Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum dolor sit amet Lorem ipsum dolor
          </p>
          <div class="blog-buttn mt-md-4 mt-3">
            <a href="single.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="comments-layts-grid pt-lg-5 pt-md-4 pt-3">
        <div class="row">
          <div class="col-lg-8 col-md-8 my-3">
            <div class="comments-grid-right mb-lg-4 mb-3">
              <h4>Our Recent Comments</h4>
            </div>
            <div class="comment-list mb-lg-4 mb-3">
              <div class="row my-3">
                <div class="col-lg-2 col-md-3 col-sm-3 comment-imgs ">
                  <img src="assets/images/c1.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 single-title text-left">
                  <h4>Amelia Brown</h4>
                  <p class="mt-3 mb-2">Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit
                    <br> amet scelerisque massa. Duis porta risus id urna finibus aliquet.
                  </p>
                  <ul>
                    <li>5 December 2016
                      <i>|</i>
                    </li>
                    <li>
                      <a href="single.html" class="clr-two">Reply</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-lg-2 col-md-3 col-sm-3 comment-imgs ">
                  <img src="assets/images/c2.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 single-title text-left">
                  <h4>Sophia Miller</h4>
                  <p class="mt-3 mb-2">Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit
                    <br> amet scelerisque massa. Duis porta risus id urna finibus aliquet.
                  </p>
                  <ul>
                    <li>5 December 2016
                      <i>|</i>
                    </li>
                    <li>
                      <a href="single.html" class="clr-two">Reply</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 my-3">
            <div class="comments-grid-right mb-lg-4 mb-3">
              <h4>Category</h4>
            </div>
            <div class="row">
              <ul class="col-6 hair-list">
                <li>
                  <a href="blog.html">Hair color</a>
                </li>
                <li>
                  <a href="blog.html">Hair Spa </a>
                </li>
                <li>
                  <a href="blog.html">Hair Extensions</a>
                </li>
                <li>
                  <a href="blog.html">Hair cutting</a>
                </li>
                <li>
                  <a href="blog.html">Hairdresser </a>
                </li>
                <li>
                  <a href="blog.html">Hair Art</a>
                </li>
              </ul>
              <ul class="col-6 hair-list">
                <li>
                  <a href="blog.html">Hair Long </a>
                </li>
                <li>
                  <a href="blog.html">Highlights</a>
                </li>
                <li>
                  <a href="blog.html">Hair Curling</a>
                </li>
                <li>
                  <a href="blog.html">Hair Ironing </a>
                </li>
                <li>
                  <a href="blog.html">Hair Wash</a>
                </li>
              </ul>

              <img src="assets/images/ss1.jpg" alt=" " class="img-fluid mt-3">
            </div>
          </div>
        </div>
        <!--//comments-->
        <!--comments-form-->
        <div class="pt-3 form-comment">
          <div class="mb-3 comments-grid-right text-left">
            <h4>Leave a Comment</h4>
          </div>
          <form class="pt-lg-2" action="#" method="post">
            <div class="row wls-contact-mid">
              <div class="col-lg-4 form-group contact-forms">
                <input type="text" class="form-control" placeholder="Name" required="">
              </div>
              <div class="col-lg-4 form-group contact-forms">
                <input type="email" class="form-control" placeholder="Email" required="">
              </div>
              <div class="col-lg-4 form-group contact-forms">
                <input type="text" class="form-control" placeholder="Phone" required="">
              </div>
            </div>
            <div class="form-group contact-forms mb-0">
              <textarea class="form-control" placeholder="Message" rows="2" required=""></textarea>
            </div>
            <button type="submit" class="btn mt-lg-4 mt-3 sent-butnn">Submit</button>
          </form>
          <!--//comments-form-->
        </div>
      </div>
    </div>
  </section>
  <!--//single page-->