<div class="app">

  <main id="main">
    <router-outlet></router-outlet>
    <a href="https://www.tiktok.com/@byramiii" target="_blank" id="tiktokButton">
      <img src="./assets/images/tiktok_logo.png" alt="TikTok Logo">
    </a>
    <a href="https://www.facebook.com/Rami.hairandbeautyexperts" target="_blank" id="facebookButton">
      <img src="./assets/images/facebook_logo.svg" alt="Facebook Logo">
    </a>
    <a href="https://www.instagram.com/byramiiii/" target="_blank" id="instaButton">
      <img src="./assets/images/instagram_logo.png" alt="Instagram Logo">
    </a>
  </main>
  <app-footer></app-footer>
</div>