
<body>
<div class="services-container">
  <div class="service">
    <img src="./assets/images/blog1.jpg" alt="Coafor">
    <h2>Coafor</h2>
    <button>Lista preturi</button>
  </div>
  <div class="service">
    <img src="frizerie.jpg" alt="Frizerie">
    <h2>Frizerie</h2>
    <button>Lista preturi</button>
  </div>
  <div class="service">
    <img src="machiaj.jpg" alt="Machiaj">
    <h2>Machiaj</h2>
    <button>Lista preturi</button>
  </div>
  <div class="service">
    <img src="unghii.jpg" alt="Unghii">
    <h2>Unghii</h2>
    <button>Lista preturi</button>
  </div>
  <div class="service">
    <img src="gene.jpg" alt="Gene">
    <h2>Gene</h2>
    <button>Lista preturi</button>
  </div>
</div>
</body>

