.tool-item{
    border-radius: 16px !important;
}

.tool-item::-webkit-scrollbar {
    width: 8px !important;
}

.tool-item::-webkit-scrollbar-thumb {
    background-color: #d3d3d3 !important;
    border-radius: 4px !important;
}